.button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  cursor: pointer;
}

.button:active {
  background: linear-gradient(
    90deg,
    rgb(243, 40, 40) 3%,
    hsl(4, 100%, 67%) 100%
  );
}
